.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .list {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .list li {
    margin: 0 5px;
  }
}
