.header_flex-box {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 34px;
}

.search {
  display: inline-flex;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(150, 150, 150, 0.3);
  padding: 2px 30px;
}

.search-icon {
  width: 15px;
  height: 15px;
  order: -1;
}

.header_search {
  width: 100px;
  border: 0;
  color: rgba(150, 150, 150, 0.3);
}

.header_search:focus {
  outline: none;
}

.city {
  font-size: 14px;
  text-decoration: underline;
  color: gray;
  opacity: 0.3;
}

.phone {
  font-size: 14px;
  color: gray;
  opacity: 0.3;
}

.icons-group {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 870px) {
  .header_flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
